<section class="secao">
    <article id="secaoA">
        <h2>Dra. Brisa Moraes</h2>
        
        <p>Dra. Brisa Moraes é advogada formada em Direito pela Faculdade Anhanguera, com uma sólida especialização em Direito Previdenciário e Trabalhista. Sua atuação é marcada pela excelência e dedicação em causas relacionadas à aposentadoria, direitos trabalhistas e disputas cíveis diversas.</p>
        <p>Com profundo conhecimento jurídico e um compromisso firme em oferecer soluções personalizadas e eficazes, Dra. Brisa Moraes é uma referência para clientes que buscam ética, competência e resultados em suas demandas legais.</p>

    </article>
    <div id="assideImageHammerOfJustice"> <img src="brisa.png" alt=""></div>
</section>
