  <!-- Primeira seção com texto e imagem ao lado -->
  <section class="secao">
    <article id="secaoA">
        <h2>Drª Lívia Alves de Oliveira</h2>

                <P>Lívia Alves de Oliveira é uma renomada advogada com uma sólida formação acadêmica e profissional. Formada pela Faculdade Anhanguera de Brasília, Lívia é portadora da OAB-DF sob o número 46.323. Com um compromisso profundo com a justiça social, ela se destaca na atuação em causas previdenciárias, especialmente em favor de pessoas doentes, deficientes, crianças, idosos e indivíduos em situações de vulnerabilidade.</P>
                <p>Em 2022, Lívia concluiu sua pós-graduação em Direito Previdenciário pela Universidade Legale, ampliando suas competências e consolidando sua expertise na área. Sua especialização abrange uma vasta gama de temas dentro do direito previdenciário, incluindo aposentadorias do Regime Geral e Benefício de Prestação Continuada.</p>
                <p>Além de sua atuação em previdência, Lívia é experiente em causas trabalhistas e cíveis, atuando com destreza em casos de inventário, divórcios e diversos litígios gerais. Seu enfoque ético e seu conhecimento aprofundado garantem uma abordagem precisa e dedicada a cada cliente, sempre buscando soluções eficazes e justas.</p>
                <p>Lívia Alves de Oliveira é reconhecida por sua paixão pelo direito e por seu trabalho árduo em prol dos que mais necessitam. Seu perfil profissional reflete uma combinação de formação acadêmica sólida e uma prática jurídica diversificada, que a torna uma referência no campo do Direito.</p>
    </article>
    <div id="assideImageHammerOfJustice"><img src="/livia-perfil.png" alt=""></div>
</section>
