.contact-form {
  background-color: #36934898;
  border-radius: 8px;
  box-shadow: rgb(31 31 31 / 17%) 0px -23px 25px 0px inset,
    rgb(108 108 108 / 23%) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 100px auto 100px;
}

.contact-form h2 {
  color: #343a40;
  font-weight: 600;
}

.form-label {
  font-weight: 600;
  color: #495057;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.text-danger {
  font-size: 13px;
}
