
<!-- 
<footer class="bg-dark py-1 my-1">
    
    <ul class="nav justify-content-center border-bottom pb-1 mb-2">

      <li class="nav-item"><a routerLink="/contato" class="nav-link px-3 text-white">Contratar</a></li>
      <li class="nav-item"><a routerLink="/meeting" class="nav-link px-3 text-white">Meeting Now</a></li>
      <li class="nav-item"><a routerLink="/client" class="nav-link px-3 text-white">Associados</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-3 text-white">FAQs</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-3 text-white">Políticas</a></li>
    </ul>

    <p class="text-center text-white">&copy; 2024 Advocacia SENAI, Inc</p>

  </footer> -->

  <footer>
    <div class="footer-container">
        <div class="footer-info">
            <p>® 2024 Oliveira & Oliveira Leal Advocacia - Todos os Direitos Reservados.</p>
            <p>CNPJ: 51.919.094/0001-38 | OAB-DF 46.323 | OAB-DF 36.635</p>
            <p>Endereço: Ed. Brasil 21, número 623, bloco E, sala 618</p>
        </div>

        <div class="footer-contact">
            <a class="btn btn-lg button-whatsapp w-1" href="https://wa.me/5561981354018" target="_blank">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="WhatsApp"> 
                Entre em Contato Conosco via WhatsApp
            </a>
            <p>(61) 98135-4018</p>
        </div>

        <!-- <div class="footer-logo">
            <img src="Logo_7_SemFundo.png" alt="Logo Oliveira & Oliveira Leal Advocacia">
        </div> -->
    </div>

    <div class="footer-nav">
        <nav>
            <ul>
                <li><a href="#">Áreas de Atuação</a></li>
                <li><a routerLink="/contato">Consultoria Jurídica</a></li>
                <li><a href="#">Cadastro</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="about-us">Sobre Nós</a></li>
                <li><a routerLink="/cadastro">Fale Conosco</a></li>
                <li><a routerLink="/politicas">Nossas Políticas</a></li>
            </ul>
        </nav>
    </div>

    <div class="footer-socials">
        <a href="https://www.facebook.com" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com" target="_blank" class="social-icon">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram.png" alt="Instagram">
        </a>
    </div>
</footer>
