/* footer  {
    position: relative;
    margin-top: auto;
    bottom: 0;
} */

footer {
    background: linear-gradient(to bottom, black, #0c4037);
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-whatsapp {
    background-color: #1f7e42;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 100%;
    height: 300px;
 
}

.footer-nav nav {
  
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #3498db;
}

.footer-socials {
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
    display: inline-block;
}

.social-icon img {
    width: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .footer-contact {
        gap: 10px;
    }
}
