<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-justify">
            <h1>Defendemos os direitos de idosos e pessoas com deficiência.</h1>
            <p class="opacity-75"> Nossa missão é assegurar que os direitos daqueles que mais precisam sejam protegidos e respeitados. Com dedicação e expertise, lutamos para garantir justiça e apoio legal a quem enfrenta desafios, transformando vulnerabilidades em segurança e esperança.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Agende uma Consulta</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Seu Direito, nossa missão!</h1>
            <p> Cada caso que chega ao nosso escritório é tratado como uma missão pessoal, com dedicação absoluta e um compromisso inabalável. Você não está sozinho: transformamos sua confiança em ação, defendendo seu direito com a paixão de quem sabe o que está em jogo.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/bpc">Conheça Nossos Serviços</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Planejamento e estratégias para a sua melhor aposentadoria</h1>
            <p> Nosso compromisso é construir um caminho previdenciário sólido, com estratégias personalizadas e cálculos precisos, para que você aproveite cada momento sem preocupações financeiras. Aposentar-se bem é mais do que um direito, é uma conquista, e estamos aqui para ajudá-lo a alcançá-la</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/casos-sucesso">Veja Casos de Sucesso</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
  
  <div></div>
