<router-outlet></router-outlet>



  <section class="creative-cards style-one">
    <div class="container">
      <div class="row">
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/1yIWjyG41o.png" alt="Ícone de planejamento estratégico" />
            </div>
            <h3><a routerLink="/planejamento-previdenciario">PLANEJAMENTO PREVIDENCIÁRIO</a></h3>
            <p>Planeje sua aposentadoria e veja qual regra é a mais benéfica para você!</p>
            <a class="read-more-btn" routerLink="/planejamento-previdenciario"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/Q4tSh2ctkH.png" alt="Ícone de design tradicional" />
            </div>
            <h3><a routerLink="/bpc">BPC - LOAS</a></h3>
            <p>Assitência à pessoa idosa e à pessoa deficiente e à pessoa doente!</p>
            <a class="read-more-btn" routerLink="/bpc"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/YQdOwN6IDJ.png" alt="Ícone de qualidade" />
            </div>
            <h3><a routerLink="/trabalhista">AÇÕES TRABALHISTAS</a></h3>
            <p>Cálculos trabalhistas, Reclamações trabalhistas. Veja seus Direitos!</p>
            <a class="read-more-btn" routerLink="/trabalhista"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>

        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/1yIWjyG41o.png" alt="Ícone de qualidade" />
            </div>
            <h3><a routerLink="/civel">CÍVEL</a></h3>
            <p>Análise de Contratos,Divórcios, Inventários, Ações Possessórias, Código de Defesa do Consumidor.</p>
            <a class="read-more-btn" routerLink="/civel"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>

        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/Q4tSh2ctkH.png" alt="Ícone de qualidade" />
            </div>
            <h3><a routerLink="/pensao-morte">APOSENTADORIA E PENSÃO POR MORTE</a></h3>
            <p>Aposentadoria por idade, Aposentadoria por invalidez permanente, Aposentadoria por tempo de Contribuição, Aposentadoria Especial, Pensão por morte para o menor, cônjuge e pesosa com deficiência.</p>
            <a class="read-more-btn" routerLink="/pensao-morte"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>

        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/YQdOwN6IDJ.png" alt="Ícone de qualidade" />
            </div>
            <h3><a routerLink="/empresarial">CONSULTORIA EMPRESARIAL</a></h3>
            <p>Compliance de empresas. Tracejo das melhoras estratégicas para com funcionários, tanto na esfera Trabalhista, como na Previdenciária.</p>
            <a class="read-more-btn" routerLink="/empresarial"><i class="fa-solid fa-angles-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-caroussel></app-caroussel>
  <app-advogados>
  